<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.sublime-text-projects</string>
	<key>connections</key>
	<dict>
		<key>0D6DB001-6C1A-4973-BD3C-0CD4706096CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5282A865-7975-4E03-83E0-721FD575334A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F866CED-855C-4BA8-A031-00095FD859ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>1CEDBB35-EAA1-404C-BC8F-3155EAFFBBAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08710451-91D1-4889-A4BC-D21F87618050</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F866CED-855C-4BA8-A031-00095FD859ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>506077C9-6BF8-401D-B34D-ACAEAA975F30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F28D2683-4749-40DE-827D-B9692F6B6842</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1CEDBB35-EAA1-404C-BC8F-3155EAFFBBAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>506077C9-6BF8-401D-B34D-ACAEAA975F30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F4C4F63-0697-43E5-B54D-317C51DFE8D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5282A865-7975-4E03-83E0-721FD575334A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F4C4F63-0697-43E5-B54D-317C51DFE8D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56EDA9A1-C8C3-4549-B3C3-6AA5DE031A82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>228E56B9-B502-47BC-A003-D5EEF34EAE57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F4C4F63-0697-43E5-B54D-317C51DFE8D5</key>
		<array/>
		<key>9981F708-6C83-44CD-BC06-B6C10A2B00F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5282A865-7975-4E03-83E0-721FD575334A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1F866CED-855C-4BA8-A031-00095FD859ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>DA2EB775-5859-482A-8BF0-499164DCDA0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D6DB001-6C1A-4973-BD3C-0CD4706096CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F28D2683-4749-40DE-827D-B9692F6B6842</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56EDA9A1-C8C3-4549-B3C3-6AA5DE031A82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Find and open Sublime Text projects</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sublime Text Projects</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Sublime Text</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6F4C4F63-0697-43E5-B54D-317C51DFE8D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DA2EB775-5859-482A-8BF0-499164DCDA0B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>.st</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Finding projects…</string>
				<key>script</key>
				<string>./alfred-sublime -search -- "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search and Open Sublime Text Projects</string>
				<key>title</key>
				<string>Sublime Text Projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>search</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D6DB001-6C1A-4973-BD3C-0CD4706096CB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:notification}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5282A865-7975-4E03-83E0-721FD575334A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-sublime $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>506077C9-6BF8-401D-B34D-ACAEAA975F30</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading settings…</string>
				<key>script</key>
				<string>./alfred-sublime -conf -- "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View and edit workflow settings</string>
				<key>title</key>
				<string>Settings for Sublime Text Projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>config</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9981F708-6C83-44CD-BC06-B6C10A2B00F6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>{var:trigger}</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>228E56B9-B502-47BC-A003-D5EEF34EAE57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:trigger}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F28D2683-4749-40DE-827D-B9692F6B6842</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/------------- ACTION IN -------------\
query={query}
variables={allvars}
\------------- ACTION OUT ------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>1F866CED-855C-4BA8-A031-00095FD859ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{var:query}",
    "config" : {
      "passinputasargument" : true,
      "externaltriggerid" : "{var:trigger}",
      "workflowbundleid" : "self",
      "passvariables" : false
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>56EDA9A1-C8C3-4549-B3C3-6AA5DE031A82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>08710451-91D1-4889-A4BC-D21F87618050</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:hide_alfred}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>(1|true)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1CEDBB35-EAA1-404C-BC8F-3155EAFFBBAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Sublime Text Projects
=====================

Open Sublime Text projects from Alfred.

The workflow scans your system for `.sublime-project` files and allows you to open them in Sublime or the project directories in Finder.

It primarily uses `mdfind` and `locate` (if enabled) to search your system. There is an optional `find`-based scanner to "fill the gaps".

You can disable a specific scanner by setting its INTERVAL_* setting to 0.

Set VSCODE to 1 (or true) to find VSCode projects instead of Sublime ones.

To add additional directories to scan, use `.stconfig &gt; Edit Config File`.</string>
	<key>uidata</key>
	<dict>
		<key>08710451-91D1-4889-A4BC-D21F87618050</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>0D6DB001-6C1A-4973-BD3C-0CD4706096CB</key>
		<dict>
			<key>note</key>
			<string>Filter Sublime Text projects</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>1CEDBB35-EAA1-404C-BC8F-3155EAFFBBAA</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>1F866CED-855C-4BA8-A031-00095FD859ED</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>228E56B9-B502-47BC-A003-D5EEF34EAE57</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>506077C9-6BF8-401D-B34D-ACAEAA975F30</key>
		<dict>
			<key>note</key>
			<string>Perform action</string>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>5282A865-7975-4E03-83E0-721FD575334A</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>56EDA9A1-C8C3-4549-B3C3-6AA5DE031A82</key>
		<dict>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>6F4C4F63-0697-43E5-B54D-317C51DFE8D5</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>9981F708-6C83-44CD-BC06-B6C10A2B00F6</key>
		<dict>
			<key>note</key>
			<string>View workflow configuration</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>DA2EB775-5859-482A-8BF0-499164DCDA0B</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>F28D2683-4749-40DE-827D-B9692F6B6842</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>INTERVAL_FIND</key>
		<string>30m</string>
		<key>INTERVAL_LOCATE</key>
		<string>12h</string>
		<key>INTERVAL_MDFIND</key>
		<string>10m</string>
		<key>VSCODE</key>
		<string>false</string>
	</dict>
	<key>version</key>
	<string>3.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/deanishe/alfred-sublime-text</string>
</dict>
</plist>
